.contenedornuevo .contenedorbarran{
    display: flex;
    gap:10px;
}

.contenedornuevo .contenedorbarran .contenedorbarraco{
    margin-left: 150px;
}

.contenedornuevo .contenedorbarran .contenedorbarraco .contenedornuevo2{
    background-color:rgb(219, 215, 215);
    display: flex;
    align-items: center;
    gap:20px;
    border-radius: 20px;
    padding: 10px;
    height: 470px;
    width: 1190px;

}

.contenedornuevo .contenedorbarran .contenedorbarraco .contenedornuevo2 img{
    width: 250px;
    height: 200px;
    margin-left: 100px;

}

.contenedornuevo .contenedorbarran .contenedorbarraco .contenedornuevo2 .contenedornuevodesa{

    display: flex;
    flex-direction: column;
}

.contenedornuevo .contenedorbarran .contenedorbarraco .contenedornuevo2 .contenedornuevodesa .contenedorbarranuevo{
    background-color: white;
    border-radius: 20px;
    margin-top: 5px;
    width: 800px;
    text-align: center;
    height: 45px;
    border-bottom: 6px solid blueviolet;
}

.contenedornuevo .contenedorbarran .contenedorbarraco .contenedornuevo2 .contenedornuevodesa .contenedornuevocampos{
    display: flex;
    justify-content: center;
    gap:10px;
}

.contenedornuevo .contenedorbarran .contenedorbarraco .contenedornuevo2 .contenedornuevodesa .contenedornuevocampos button{
    width: 200px;
}