.contenedorbus1 .contenedorbusbarras1{
    display: flex;
    gap:10px;
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1{
    background-color:rgb(252, 247, 247);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:480px;
    width: 1190px;
    border-radius: 20px;
}
.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorbarrasbusqueda{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorbarrasbusqueda .contenedorbusquedab{
    position: relative;
    display: inline-block;
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorbarrasbusqueda .contenedorbusquedab.busqueda1{
    position: absolute;
    cursor: pointer;
    transform: translateX(-23px);
    margin-top: 10px;
    font-size: 20px;    
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorincluir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorincluir .contenedorinputsbus{
    display: flex;
    align-items: center;
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorincluir .contenedorinputsbus input {
   margin-left: -100px; 
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorincluir p{
    font-weight: bold;
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorincluir .contenedorinputsbus label {
    margin-left: -100px; 
    
}

.contenedorbus1 .contenedorbusbarras1 .contenedorbustitulo1 .contenedorcontenido1 .contenedorincluir .contenedorbusqboton{
    margin-top: 10px;
    display: flex;
    gap:10px;
    
}

