.contenedorp .contenedorprincipal{
    display: flex;
    /*background-color: aqua;*/
}

.contenedorp .contenedorprincipal .contenedorde hr{
    width: 1220px;
}

.contenedorp{
    display: flex;
    flex-direction: column;
}

.contenedorp .contenedorprincipal .contenedorde{
    padding: 10px;
    
}

.contenedorp .contenedorprincipal .contenedorde .contenedorreservas{
    background-color:rgb(219, 215, 215);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.contenedorp .contenedorprincipal .contenedorde .contenedorreservas .clasesreservas{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    align-items: center;
}
.contenedorp .contenedorprincipal .contenedorde.contenedorreservas h2{
    margin-left: 8px;
}


