.perfil .perfilbarras{
    display: flex;
}
.perfil .perfilbarras .perfilcontenido{
    margin-left: 150px;
}

.perfil .perfilbarras .perfilcontenido .perfilpartes{
    background-color:rgb(219, 215, 215);
    border-radius: 20px;
    height: 500px;
    width: 1215px;
}

.perfil .perfilbarras .perfilcontenido .perfilpartes{
    display: flex;
    justify-content:space-around;
}

.perfil .perfilbarras .perfilcontenido .perfilpartes img{
    width: 300px;
    height: 200px;
    padding: 30px;
}

.perfil .perfilbarras .perfilcontenido .perfilpartes .perfilseleccion{
    background-color: white;
    width: 515px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    border-radius: 20px;
    margin-top: 5px;
    
    border: 1px solid rgb(133, 131, 131);
}

.perfil .perfilbarras .perfilcontenido .perfilpartes .perfilseleccion p{
    font-weight: bold;
    cursor: pointer;
}


.perfil .perfilbarras .perfilcontenido .perfilpartes .perfilnuevo1 .perfilseleccion #color{
    border-bottom: 5px solid blueviolet;
}

.perfil .perfilbarras .perfilcontenido .perfilpartes .perfilnuevo1 .perfilnuevo2 .contenedorpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



