.perfilbarras{
    display: flex;
}
.perfilcontenido{
    margin-left: 10px;
}

.perfilpartes{
    background-color:rgb(219, 215, 215);
    border-radius: 20px;
    height: 500px;
    width: 1215px;
}

.perfilpartes{
    display: flex;
    justify-content:space-around;
}

.perfilpartes img{
    width: 300px;
    height: 200px;
    padding: 30px;
}

.perfilseleccion{
    background-color: white;
    width: 515px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    border-radius: 20px;
    margin-top: 5px;
    
    border: 1px solid rgb(133, 131, 131);
}

.perfilseleccion p{
    font-weight: bold;
    cursor: pointer;
}


#color{
    border-bottom: 5px solid blueviolet;
}

.contenedorpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



