.contenedorCita1 .contenedorCitaBarras{
    display: flex;
    gap:10px;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo hr{
    width: 1220px;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido img{
    height: 50px;
}


.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido{
    background-color: rgb(150, 142, 142);
    
    border-radius: 20px;
    padding: 10px;
    width: 1190px;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .conteendorcitacontendioin{
    display: flex;
    justify-content:space-between;
    align-items: center;
}



.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .conteendorcitacontendioin  p{
    border:1px solid rgb(206, 201, 201);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(201, 194, 194);
    color:black;
    font-weight: bold;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido2 .contenedorcitaimagen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 77, 17);
    width: 100px;
    height: 130px;
    padding: 10px;
    border-radius: 20px;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido2 img{
    height: 100px;
    width: 80px;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido2 p{
    color:black;
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .contenedorCitacontenido2{
    display: flex;
    justify-content: center;
    gap:20px;
}


.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .contenedorcitascontenido4{
    display: flex;
    flex-direction: column;
    
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .contenedorcitascontenido4 p{
    color:black;
    font-weight: bold;
}


.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .contenedorcitascontenido4 .contenedrocitascontenido5{
    display: flex;
    gap:10px;
    
}

.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorCitacontenido .contenedorcitascontenido4 .contenedrocitascontenido5 p{
    border:1px solid rgb(206, 201, 201);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(201, 194, 194);
    color:black;
    font-weight: bold;
}


.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorcitaultimo{
    display: flex;
    flex-direction: column;
    
}


.contenedorCita1 .contenedorCitaBarras .contenedorCitaTitulo .contenedorcitaultimo button{
    width: 100px;
    background-color: blueviolet;
    color:white;
}








