.contenedorbiblioteca .contenedorbb{
    display: flex;
    gap:10px;
}



.contenedorbiblioteca .contenedorbb .contenedorbt{
   display: flex;
   flex-direction: column;
}


.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorbd button{
    height: 50px;
    background-color: blueviolet;
    color:white;
}

.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorbd .contendorseleccion{
    display: flex;
    gap:10px;
}


.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorbd{
    margin-left: 150px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}


.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorbusqueda input{
    width: 500px;
    height: 40px;
}

.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorbusqueda{
    margin-left: 160px;
    position: relative;
    display: inline-block;
}

.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorbusqueda .busqueda{
    position: absolute;
    cursor: pointer;
    transform: translateX(-23px);
    margin-top: 12px;
    font-size: 20px;
    
}


.contenedorbiblioteca .contenedorbb .contenedorbt .contenedorllibros{
    margin-left: 100px;
    display: flex;
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}

