.contenedorregistro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorcolum{
    display: flex;
    gap:80px;
}

.contenedorcolum p{
    margin-left: 0;
    font-weight: bold;
}

.contenerebotones{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}

